/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1440px) {
  .header {
    padding: 27px 0 22px 0;
  }

  .model {
    padding: 16px 0 7px 0;
  }

  .model__heading {
    font-size: 60px;
  }

  .model__btn {
    padding: 27px 77px 22px 75px;
    font-size: 18px;
  }

  .advantages {
    padding-bottom: 90px;
  }

  .advantages__heading {
    font-size: 40px;
    line-height: 102%;
  }

  .advantages__contant {
    margin-bottom: 34px;
  }

  .advantages__item {
    padding-left: 110px;
  }

  .teachers {
    padding: 74px 0 47px 0;
  }

  .teachers__heading {
    font-size: 40px;
  }

  .teachers__cards-content {
    padding: 27px 0;
  }

  .teachers__cards-text {
    font-size: 17px;
    line-height: 137%;
  }

  .courses {
    padding-bottom: 48px;
  }

  .courses__item {
    margin-bottom: 30px;
  }

  .courses__item-contant {
    padding: 30px;
  }

  .courses__item-heading {
    font-size: 18px;
  }

  .courses__item-text {
    margin-bottom: 31px;
    min-height: 114px;
   }

   .courses__item-btn {
    padding: 21px 59px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .model {
    padding: 118px 0 135px 0;
  }

  .model__heading {
    padding-top: 8px;
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 53px;
  }

  .advantages {
    padding-bottom: 77px;
  }

  .advantages__contant {
    margin-bottom: 20px;
    padding-left: 239px;
  }

  .advantages__item {
    padding-left: 0;
  }

  .advantages__item::before {
    position: initial;
    display: block;
    margin-bottom: 12px;
  }

  .advantages__contant::before {
    width: 211px;
    height: 187px;
  }

  .teachers {
    padding: 74px 0 24px 0;
  }

  .teachers__cards-content {
    padding: 25px 0;
  }

  .teachers__cards-text {
    font-size: 16px;
    line-height: 148%;
  }

  .courses__hours {
    right: 11px;
  }

  .courses__item-text {
    margin-bottom: 28px;
    min-height: 192px;
  }

  .courses__item-btn {
    padding: 21px 55px;
  }

  .footer__top {
    padding: 29px 0 23px 0;
  }

}

@media (max-width: 576px) {
  .header {
    padding: 30px 0 20px 0;
  }

  .header__link {
    display: flex;
    justify-content: center;
    padding-right: 13px;
    margin-bottom: 32px;
  }

  .header__menu {
    justify-content: center;
  }

  .header__nav {
    padding-right: 17px;
  }

  .model {
    padding: 66px 0 136px 0;
  }

  .model__text {
    margin-bottom: 61px;
    padding-right: 90px;
  }

  .model__heading {
    line-height: 52px;
  }

  .model__img {
    display: none;
  }

  .advantages {
    padding: 80px 0 25px 0;
  }

  .advantages__contant::before {
    width: 150px;
    height: 134px;
    top: -1%;
  }

  .advantages__contant {
    margin-bottom: 22px;
    padding-left: 180px;
  }

  .advantages__heading {
    line-height: 99%;
  }

  .advantages__list {
    margin-left: -12px;
    margin-right: -11px;
  }

  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .advantages__item::before {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 10px;
    margin-right: 30px;
  }

  .teachers {
    padding-top: 75px;
    padding-bottom: 49px;
  }

  .courses {
    padding-bottom: 48px;
  }

  .courses__list {
    margin-left: -14px;
    margin-right: -1px;
  }

  .courses__item-heading {
    line-height: 134%;
  }

  .courses__item-contant {
    padding-right: 15px;
  }

  .courses__item-text {
    margin-bottom: 31px;
    padding-right: 17px;
    min-height: 268px;
  }

  .courses__item-btn {
    padding: 20px 48px;
  }

}

@media (max-width: 326px) {
  .header {
    padding: 28px 0 15px 0;
  }

  .header__link {
    padding-right: 13px;
    margin-bottom: 27px;
  }

  .model {
    padding: 42px 0 48px 0;
  }

  .model__heading {
    margin-bottom: 7px;
    font-size: 30px;
    line-height: 29px;
  }

  .model__text {
    padding-right: 0;
    margin-bottom: 43px;
    font-size: 16px;
    line-height: 130%;
  }

  .model__btn {
    padding: 21px 52px 20px 55px;
    font-size: 16px;
    line-height: 21px;
  }

  .advantages {
    padding: 50px 0 27px 0;
  }

  .advantages__contant::before {
    display: none;
  }

  .advantages__contant {
    padding: 0;
    margin: 0;
  }

  .advantages__heading {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 130%;
}

  .advantages__text {
    margin-bottom: 22px;
  }

  .advantages__item {
    padding-right: 13px;
    padding-top: 5px;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    line-height: 119%;
  }

  .advantages__item::before {
    margin-bottom: 3px;
    margin-right: 27px;
  }

  .teachers {
    padding-top: 47px;
    padding-bottom: 23px;
  }

  .teachers__heading {
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 96%;
  }

  .teachers__cards-content {
    padding: 27px 0 23px 0;
  }

  .courses {
    padding-top: 45px;
    padding-bottom: 20px;
  }

  .courses__heading {
    margin-bottom: 27px;
    font-size: 20px;
  }

  .courses__item-contant {
    padding: 30px;
  }

  .courses__item-text {
    padding-right: 0;
  }

  .courses__item-heading {
    line-height: 133%;
  }

  .courses__item-btn {
    padding: 20px 56px;
  }

  .courses__top {
    padding-right: 67px;
  }

  .courses__bootom {
    margin-bottom: 52px;
  }
}
