/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1200px) {
  .model {
    padding: 105px 0 136px 0;
  }

  .courses__item-text {
    margin-bottom: 31px;
    min-height: 191px;
   }
}

@media (max-width: 991px) {
 .model__heading {
  padding-top: 25px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 48px;
  line-height: 105%;
 }

 .advantages {
  padding-top: 77px;
  padding-bottom: 74px;
 }

 .advantages__contant {
  margin-bottom: 23px;
  padding-left: 240px;
 }

 .advantages__contant::before {
  width: 211px;
  height: 187px;
 }

 .advantages__item {
  padding-left: 0;
 }

 .advantages__item::before {
  position: initial;
  display: block;
  margin-bottom: 11px;
 }

 .teachers {
  padding-top: 77px;
  padding-bottom: 55px;
 }

 .teachers__cards-content {
  padding-top: 27px;
  padding-bottom: 19px;
 }

 .teachers__cards-heading {
  margin-bottom: 7px;
 }

 .teachers__img {
  border-radius: 20px 20px 0 0;
 }

 .courses {
  padding: 75px 0 47px 0;
 }

 .courses__hours {
  right: 10px;
 }

 .courses__item-contant {
  padding: 30px;
 }

}

@media (max-width: 767px) {
  .header {
    padding: 30px 0 30px 0;
  }

  .header .col-sm-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__link {
    margin-bottom: 30px;
  }

  .model {
    padding: 77px 0 135px 0;
  }

  .model__text {
    margin-bottom: 70px;
  }

  .model__img {
    display: none;
  }

  .advantages {
    padding: 80px 0 60px 0;
  }

  .advantages__contant {
    padding-left: 180px;
    margin-bottom: 30px;
  }

  .advantages__contant::before {
    width: 150px;
    height: 134px;
    top: 0;
  }

  .courses {
    padding-bottom: 60px;
  }

  .courses__item-btn {
    padding: 21px 56px;
   }

   .courses__item {
    margin-bottom: 30px;
   }
}

@media (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header {
    padding: 30px 0 27px 0;
  }

  .header__link {
    margin-bottom: 27px;
  }

  .model {
    padding: 55px 0 132px 0;
  }

  .model__text {
    margin-bottom: 59px;
  }

  .advantages {
    padding: 80px 0 35px 0;
  }

  .advantages__contant {
    margin-bottom: 22px;
  }

  .advantages__list {
    margin-left: -12px;
    margin-right: -11px;
  }

  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .advantages__item::before {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 0;
    margin-right: 30px;
  }

  .teachers {
    padding-top: 75px;
  }

  .courses {
    padding-bottom: 61px;
  }

  .courses__list {
    margin-left: -14px;
    margin-right: -13px;
  }

}

@media (max-width: 326px) {
  .container {
    padding-left: 17px;
    padding-right: 17px;
  }

  .header {
    padding-bottom: 16px;
  }

  .header__link {
    margin-bottom: 20px;
  }

  .model {
    padding: 23px 0 48px 0;
  }

  .model__heading {
    margin-bottom: 3px;
    font-size: 30px;
  }

  .model__text {
    margin-bottom: 43px;
    font-size: 16px;
    line-height: 130%;
  }

  .model__btn {
    padding: 21px 48px 20px 55px;
    font-size: 16px;
    line-height: 21px;
  }

  .advantages {
    padding: 50px 0 21px 0;
  }

  .advantages__contant::before {
    display: none;
  }

  .advantages__contant {
    padding: 0;
    margin: 0;
  }

  .advantages__heading {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 130%;
}

  .advantages__text {
    margin-bottom: 22px;
  }

  .teachers {
    padding-top: 47px;
  }

  .teachers__heading {
    margin-bottom: 27px;
    font-size: 19px;
  }

}
