html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	max-width: 100%;
}
ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}
h2, h3 {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 1170px;
  margin-top: 20px;
}
.title {
  margin-top: 70px;
  margin-left: 50px;
}
.wrapper {
  margin-top: 70px;
}
.header {
  margin-top: 30px;
}

/*Header*/
.header-top {
  display: flex;
  align-items: center;
}
.header-profil {
  padding-left: 579px;
  background-position: 550px;
  background-repeat: no-repeat;
  font-style: normal;
}
.telefon {
  border-bottom: none;
  font-style: normal;
  margin-left: 40px;
}
.header-block {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.header-menu {
  margin-right: 200px;
}
.header-menu-list {
  display: flex;
  align-items: center;
}
.header-menu-list-item {
  margin-right: 45px;
}
.btn {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-right: 40px;
}

/* wrapper */
.offers {
  margin-bottom: 70px;
}
.special {
  display: flex;
  margin-top: 20px;
}
.offers-item-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 573px;
}
.offers-item-1:not(:last-child) {
  margin-right: 24px;
}
.offers-item-big {
  width: 573px;
}


/*About*/
.about-text {
  margin-top: 20px;
}

/*Help*/
.help {
  margin-bottom: 70px;
}
.help_cards {
  flex-wrap: wrap;
  margin-top: 20px;
}
.help_cards_item {
  width: 573px;
  margin-bottom: 24px;
}
.help_cards_item:not(:nth-child(2n)) {
  margin-right: 24px;
}


/*news*/
.news {
  margin-bottom: 70px;
}
.news_cards {
  flex-wrap: wrap;
  margin-top: 20px;
}
.news_cards_item {
  width: 272px;
  margin-bottom: 24px;
}
.news_cards_item:not(:nth-child(4n)) {
  margin-right: 24px;
}

/*hotel*/
.hotel {
  margin-bottom: 70px;
}
.small_banner {
  flex-wrap: wrap;
  margin-top: 20px;
}
.small-banners-item {
  width: 374px;
  margin-bottom: 24px;
}
.small-banners-item:not(:nth-child(3n)) {
  margin-right: 24px;
}
